/* header */
.header{
    box-shadow: 0 1px 3px rgb(0, 0, 0,0.1);
    position: sticky;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 999;
}

.header-top{
    background: var(--color-one);
    color: var(--color-two);
    padding: 7px;
    font-size: 18px;
    text-align: center;
}

.header-main{
    padding: 15px 0;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header-main .inner-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-main .inner-wrap a{
    display: flex;
    align-items: center;
}

.header-main .inner-wrap img{
    width: 48px;
    height: 48px;
}

.header-main .inner-wrap span{
    font-size: 24px;
    font-weight: 600;
    margin-left: 6px;
}

.header-main .inner-wrap ul{
    display: flex;   
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-main .inner-wrap .inner-menu ul li {
    margin: 0 15px;
 
}

.header-main .inner-wrap .inner-menu ul li a{
    font-size: 18px;
    color: var(--color-one);
}

.header-main .inner-wrap .inner-menu ul li a:hover{
    color: #47d5ed;
}

.header-main .inner-contact{
    color: var(--color-text);
    font-size: 18px;
}

.header-main .inner-social ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.header-main .inner-social ul li{
    margin-left: 17px;
}


.header-main .inner-social ul li a{
    font-size: 24px;
}
/* end-header */

/* section-one */
.section-one{
    background-color: #F1F2F6;
    padding: 60px 0 0 0;
}

.section-one .inner-wrap{
    display: flex;
    justify-content: space-between;
}

.section-one .inner-wrap .inner-content{
    width: 50%;
}

.section-one .inner-wrap .inner-image{
    width: 50%;
}

.section-one .inner-wrap .inner-image img{
    width: 100%;
}

.section-one .inner-wrap .inner-content .inner-title{
    font-size: 60px;
    color: var(--color-one);
    font-weight: 500;
}

.section-one .inner-wrap .inner-content .inner-desc{
    font-size: 24px;
    margin: 0 0 30px 0;
    color: var(--color-one);
}

.section-one .inner-wrap .inner-list{
    display: flex;
    font-size: 20px;
    color: var(--color-text);
    
}
.inner-item{
    width: 50%;
}

.section-one .inner-wrap .inner-content a{
    margin-top: 30px;
    border-radius: 35px;
    padding: 15px 50px;
    display: inline-block;
    background-color: var(--color-two);
    color: white;
}

.section-one .inner-wrap .inner-content a:hover{
    background-color: white;
    border: 2px solid var(--color-two);
    color: var(--color-two);
}
/* cha để position :relative con đề absolute */
.section-one .inner-image{
    position: relative;
}

.section-one .inner-image .inner-sale{
    background-color: var(--color-two);
    display: inline-flex;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;  /* chuyển nằm ngang thành nằm dọc */
    color: var(--color-one);
    position: absolute;
    top: 10px;
    right: 100px;
}

.section-one .inner-image .inner-sale span:nth-child(1){
    font-size: 22px;
    margin-bottom: 6px;
}
.section-one .inner-image .inner-sale span:nth-child(2){
    font-size: 48px;
    font-weight: 700;
}
/* section-one */


/* section-two */
.section-two .inner-wrap{
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}

.section-two .inner-box{
    width:32%;
    position: relative;
    aspect-ratio: 4/3; /*tỉ lệ width / height*/
}

.section-two .inner-box img{
    width: 100%;
    height: 100%;
    object-fit: cover; /*tuong tự background-size nhưng dùng cho img*/
}

.section-two .inner-box .inner-content{
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px;
}
.section-two .inner-box .inner-content .inner-tag{
    background-color: #13A05D;
    width: 60px;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    color: white;
    margin-bottom: 10px;
}

.section-two .inner-box .inner-content .inner-title{
    font-weight: 600;
}

.section-two .inner-box:nth-child(1) .inner-content .inner-title{
    color: #fff;
    font-size: 38px;
}

.section-two .inner-box:nth-child(2) .inner-content .inner-title{
    color: var(--color-one);
    font-size: 35px;
    max-width: 100px;


}

.section-two .inner-box:nth-child(3) .inner-content .inner-title{
    color: var(--color-one);
    font-size: 35px;

} 

.section-two .inner-box:nth-child(2) .inner-content .inner-sale{
    color: var(--color-two);
    font-size: 50px;
    font-weight: 600;
}

.section-two .inner-box:nth-child(3) .inner-content .inner-price-old{
    color: var(--color-two);
    font-size: 50px;
    font-weight: 600;
}

.section-two .inner-box:nth-child(3) .inner-content .inner-price-new{
    color: var(--color-text);
    font-size: 30px;
    font-weight: 600;
    text-decoration: line-through;
    margin-top: 10px;
}

.section-two .inner-box .button{
    position: absolute;
    background-color: var(--color-one);
    left: 40px;
    bottom: 40px;
}

.section-two .inner-box .button:hover{
    border: 1px solid var(--color-one);
    background-color: #fff;
    color: var(--color-one);
    
}
/* section-two */

/* section-three */

.section-three{
    background-color: var(--color-bg);
    padding: 80px 0;
}

.section-three .inner-title{
    text-align: center;
    max-width: 700px;
    position: relative;
    left: 250px;
}
.section-three .inner-title .inner-head{
    color: var(--color-one);
    font-size: 48px;
    padding: 0 0 40px 0;
    margin: 0;
}

.section-three .inner-title .inner-desc{
    margin-top: 0;
    color: var(--color-text);
    font-size: 20px;
}

.section-three .inner-wrap{
    display: flex;
    justify-content: space-between;
}

.section-three .inner-wrap .inner-box{
    width: 30%;
    color: var(--color-text);
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
}

.section-three .inner-wrap .inner-box i{
    font-size: 35px;
}

.section-three .inner-wrap .inner-box .title{
    font-size: 25px;
    color: var(--color-one);
    font-weight: 600;
}

/* section-three */

/* section-four */
.section-four{
    padding: 80px 0;
}

.section-four .inner-wrap{
    display: flex;
    justify-content: space-between;
}

.section-four .inner-wrap .inner-content{
    width: 50%;
}

.section-four .inner-wrap .inner-content .inner-title{
    max-width: 300px;
    font-size: 60px;
    color: var(--color-one);
    margin-bottom: 32px;
}

.section-four .inner-wrap .inner-content .inner-desc{
    font-size: 22px;
    color: var(--color-text);
    margin-top: 0  ;
    margin-bottom: 30px;
}

.section-four .inner-wrap .inner-content a{
    background-color: var(--color-two);
    display: inline-block;
}

.section-four .inner-wrap .inner-content a:hover{
    border: 2px solid var(--color-two);
    color: var(--color-two);
    background-color: #fff  ;

}

.section-four .inner-wrap .inner-image{
    width: 50%;
}

.section-four .inner-wrap .inner-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* section-four */

/* section-five */
.section-five{
    padding: 60px 0;
    background-color: var(--color-bg);
}

.section-five .inner-wrap{
    background-image: url(../image/background23.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.section-five .inner-wrap .inner-content{
    color: #fff;
}

.section-five .inner-wrap .button{
    background-color: #13A05D;
    color: #fff;
}

.section-five .inner-wrap .button:hover{
    border: 1px solid #13A05D;
    color: #13A05D;
    background-color: #fff;
    padding: 14px 39px;
}
/* section-five */

/* section-six */

.section-six{
    padding: 80px 0;
}

.section-six .inner-title{
    text-align: center;
    font-size: 32px;
    color: var(--color-one);
    font-weight: 600;
    margin-bottom: 30px;
}

.section-six .inner-wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.section-six .inner-wrap .inner-box{
    box-shadow: 0 1px 3px rgb(0, 0, 0,0.1);
    width: 20%;
}

.section-six .inner-wrap .inner-box img{
    width: 100%;
    aspect-ratio: 6/5;
    object-fit: cover;
    
}

.section-six .inner-wrap .inner-box .inner-content{
    padding: 15px 15px;
    color: var(--color-one);
}

.section-six .inner-wrap .inner-box .inner-content .inner-desc{
    font-size: 18px;
    margin: 5px 0;
}

.section-six .inner-wrap .inner-box .inner-content .inner-price{
    font-size: 24px;
    margin: 10px 0;
    font-weight: 600;
}

.section-six .inner-wrap .inner-box .inner-content .inner-icon{
    font-size: 15px;
    margin: 5px 0;
    color: var(--color-two);
}
/* section-six */

/* section-seven */
.section-seven{
    padding: 80px 0;
    background-color: var(--color-bg);
}

.section-seven .inner-title{
    font-size: 38px;
    color: var(--color-one);
    text-align: center;
    font-weight: 600;
    margin-top: 0;
}

.section-seven .inner-wrap{
    text-align: center;
    
}

.section-seven .inner-wrap input{
    border-radius: 35px;
    padding: 15px 50px ; 
    border: none;
    width: 300px;
    margin-right: 30px;
}

.section-seven .inner-wrap a{
    background-color: var(--color-two);
    border: 1px solid var(--color-two);
}

.section-seven .inner-wrap a:hover{
    color: var(--color-two);
    background-color: #fff  ;
}
/* section-seven */

/* section-eight */
.section-eight{
    padding: 60px 0;
}

.section-eight .inner-title{
    font-size: 38px;
    color: var(--color-one);
    text-align: center;
    font-weight: 600;
    margin-top: 0;
}

.section-eight .inner-image{
    width: 100%;
    position: relative;
}

.section-eight .inner-image img{
    width: 100%;
    display: block;
}

.section-eight .inner-image a{
    position: absolute;
    padding: 30px 35px;
    background: #fff;
    border-radius: 50%;
    top: 200px;
    right: 550px;
    z-index: 10;
    font-size: 30px;
}

.section-eight .inner-image a:hover{
    background: var(--color-one);
    color: #fff;
}
/* section-eight */

/* section-nine */
.section-nine{
    padding: 80px 0;
    background: var(--color-bg);
}

.section-nine .inner-title{
    font-size: 38px;
    color: var(--color-one);
    text-align: center;
    font-weight: 600;
    margin-top: 0;
}
.section-nine .inner-title i{
    color: var(--color-two);
    font-size: 45px;
}

.section-nine .inner-wrap{
    display: flex;
    padding: 0 32px;
    justify-content: space-between;
}

.section-nine .inner-wrap .inner-box{
    width: 20%;
    background-color: #fff;
    padding: 25px;
    font-size: 18px;
    color: var(--color-one);
}

.section-nine .inner-wrap .inner-box .inner-icon{
    color: var(--color-two);
}
/* section-nine */

/* section-ten */
.section-ten{
    padding: 80px 0;
}

.section-ten .inner-wrap{
    display: flex;
    justify-content: space-between;
}
.section-ten .inner-wrap .inner-content{
    width: 45%;
    color: var(--color-one);
}
.section-ten .inner-wrap .inner-content .inner-tt{
    padding: 0 0 20px 0;
}

.section-ten .inner-wrap .inner-content .inner-title{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 48px;
}

.section-ten .inner-wrap .inner-content p{
    font-size: 18px;
    line-height: 28px;
}

.section-ten .inner-wrap .inner-content .button{
    margin: 10px 0;
    display: inline-block;
    background-color: #fff;
    color: var(--color-one);
    border: 1px solid rgb(230, 230, 230);
}

.section-ten .inner-wrap .inner-map iframe{
    height: 100%;
    
}

.section-ten .inner-wrap .inner-content .button:hover{
    color: #fff;
    background-color: var(--color-one);
}

.section-ten .inner-wrap .inner-content ul{
    display: flex;   
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.section-ten .inner-wrap .inner-content ul li{
    margin-top: 25px;
    font-size: 25px;
    margin-right: 20px;
}

/* section-ten */

/* section-eleven */
.section-eleven{
    padding: 60px 0;
    background-color: var(--color-one);
    color: #fff;
    
}

.section-eleven .inner-wrap{
    display: flex;
    width: 100%;
}

.section-eleven .inner-wrap .inner-box{
    width: 16.5%;
    line-height: 35px;
}

.section-eleven .inner-wrap .inner-box ul {
    list-style-type:none ; 
    margin: 0;
    padding: 0;
    font-size: 18px;
}
/* section-eleven */

/* footer */
.footer{
    padding: 30px;
}

.footer .inner-wrap{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: var(--color-one);
}

.footer .inner-wrap img{
    width: 40px;
    margin-left: 10px;
}
/* footer */
